@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Figtree ExtraBold";
  src: url("/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Figtree Medium";
  src: url("/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-style: normal;
}

@theme {
  --color-background: #f4d04e;
  --color-yellow: #f4d04e;
  --color-white: #ffffff;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;

  --font-family-figtree-extrabold: "Figtree ExtraBold", sans-serif;
  --font-family-figtree-medium: "Figtree Medium", sans-serif;

  --font-size-preset-1: 24px;
  --line-height-preset-1: 1.5;
  --font-weight-preset-1: 700;

  --font-size-preset-2: 16px;
  --line-height-preset-2: 1.5;
  --font-weight-preset-2: 500;

  --font-size-preset-3: 14px;
  --line-height-preset-3: 1.5;
  --font-weight-preset-3: 400;

  --font-size-preset-4: 14px;
  --line-height-preset-4: 1.5;
  --font-weight-preset-4: 400;

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

body {
  background-color: var(--color-background);
  color: var(--color-gray-950);
  font-family: var(--font-family-figtree-medium);
}

.figtree-bold {
  font-family: var(--font-family-figtree-extrabold);
  font-size: var(--font-size-preset-1);
  font-weight: var(--font-weight-preset-1);
  line-height: var(--line-height-preset-1);
}

.figtree-medium {
  font-family: var(--font-family-figtree-medium);
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-preset-2);
  line-height: var(--line-height-preset-2);
}

.figtree-small {
  font-family: var(--font-family-figtree-medium);
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-preset-3);
  line-height: var(--line-height-preset-3);
}

.figtree-small-bold {
  font-family: var(--font-family-figtree-extrabold);
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-preset-3);
  line-height: var(--line-height-preset-3);
}

.card {
  @apply flex flex-col text-center;
  @apply bg-white gap-[24px] p-[24px] rounded-[20px];
  @apply md:max-w-[384px] max-w-[327px] border border-gray-950;
  @apply shadow-[8px_8px_0px_0px_black];
}

.card-content {
  @apply flex flex-col gap-[16px] text-left;
}

.card-title {
  font-family: var(--font-family-figtree-extrabold);
  font-size: var(--font-size-preset-1);
  font-weight: var(--font-weight-preset-1);
  line-height: var(--line-height-preset-1);
  @apply text-gray-950;
}

.card-tag {
  @apply flex justify-start items-start;
  font-family: var(--font-family-figtree-extrabold);
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-preset-3);
  line-height: var(--line-height-preset-3);
}

.card-tag-button {
  @apply bg-yellow px-[12px] py-[4px] rounded-[4px];
}

.card-date {
  @apply flex justify-start items-start;
  font-family: var(--font-family-figtree-medium);
  font-size: var(--font-size-preset-3);
  line-height: var(--line-height-preset-3);
}

.card-description {
  @apply text-gray-500;
}

.card-author {
  @apply flex justify-start items-start gap-[12px];
  font-family: var(--font-family-figtree-extrabold);
  font-size: var(--font-size-preset-3);
  line-height: var(--line-height-preset-3);
}
